/* Deleted App.css so not have confusion with custom CSS and bootstrap */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* USE AS REFERENCE FOR COLORS 
:root {
  --primary: #9B0E0C;
  --secondary: #190B28;
  --light: #FBFBEE;
  --dark: #0000;
  --error: #9B0E0C;
}
*/

@font-face {
  font-family: "Misto";
  src: local("Misto"), url("../src/assets/fonts/MistoFont/Web/Misto.woff2") format("woff2");
  font-weight: normal;
}

/* BOOTSTRAP COLORS */
/*
:root{
  --bs-primary: #9B0E0C;
  --bs-secondary: #190B28;
  --bs-light: #FBFBEE;
  --bs-dark: #0000;
  --bs-warning: #9B0E0C;
}
*/

* {
  box-sizing: border-box;
  
}

html,
body {
  min-height: 100%;
  background: linear-gradient(-45deg, #b7dbf9, #aa4cd9, #fff9bf, #f8a097);
  animation: gradient 5s ease-in-out infinite;
}

body {
  margin: 0;
  padding:0;
  line-height:1.5;
  font-size:1.2rem;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2,h3,h4,h5,h6{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* SAVING FOR LATER ONCE CONNECTED 
font-family: mencken-std-head-compress,sans-serif;
font-weight: 700;
font-style: normal; */

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Category Modal */
.category-cards {
  position: relative;
  padding: 100px;
  margin: "0",
}

@media screen and (max-width: 768px) {
  .category-cards {
    margin-top: 50%;
    padding: none;
  }
}
  

.category-container {
  text-align: center;
  
  
}

.category-content {
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 300ms;
  
}
/*
.col-12 {
  width: 75%;
}
*/

/* .modal-open {
  
} */

.modal-content {
  background-image: url("../src/assets/images/background.jpg");
  
}

.modal-header {
  border-bottom: none;
  
}

.modal-footer {
  border-top: none;
}

.modal-title {
  text-align: center;
  color: black;
  font-weight: bolder;
  font-size: 10vw;
  font-family: Misto;
}

.btn-close {
  color: white;
  opacity: 1;
}

.btn {
  background: white;
  color: black;
  border: none;
  font-weight: 800;
}

.btn:hover {
  background-color: pink;
}


/* Category Modal Ends*/

.nav-link {
  font-family: Misto;
  font-size: 1.3rem;
}

.nav-link:hover {
  color: black;
  text-decoration: none;
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg); 
  font-family: Misto;
  
}

/* Profile */

/* .post-form {
  
} */

.profile-empath {
  font-family: Misto;
  font-size: 2rem;
  color: white;
  position: relative;
}

.profile-title {
  font-family: Misto;
  font-size: 3rem;
  position: relative;
  color: white;

}

.post-btn {
  width: 100%; 
}

.post-btn:hover {
  background-color: pink;
  cursor: pointer;
}

.profile-posts {
  color: white;
  position: relative;

}

.card {
  color: black;
  border-radius: 25px;
  
}

.profile-title {
color:black;
margin-bottom:2rem;  
}


/*
.profile-div {
  background-image: url("../src/assets/images/collage2.jpg");
 width: 100%;
}
*/

/* Profile Ends */

/*
.card-img-top {
  border-radius: 50px;
}

.card-body {
  border-radius: 50px;
}

.card {
  border-radius: 50px;
}
*/

/* .login-form:hover {
  
} */

.login-form {
  width: 100%;
  opacity: 0.9;
  margin-bottom:65vh;
  
}

.form-input {
  width: 100%;
}

/* POST LIST STYLES */

.post-title{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  color: black;
  font-size:1.6rem;
}

.signup-form{
  margin-bottom:60vh;
}


@keyframes cubic-bezier {
  0% {
    transform: scale(0.19);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.22);
  }
  100% {
    transform: scale(1);
  }
}




  
