/* Deleted App.css so not have confusion with custom CSS and bootstrap */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* USE AS REFERENCE FOR COLORS 
:root {
  --primary: #9B0E0C;
  --secondary: #190B28;
  --light: #FBFBEE;
  --dark: #0000;
  --error: #9B0E0C;
}
*/

/* BOOTSTRAP COLORS */
:root{
  --bs-primary: #9B0E0C;
  --bs-secondary: #190B28;
  --bs-light: #FBFBEE;
  --bs-dark: #0000;
  --bs-warning: #9B0E0C;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding:0;
  line-height:1.5;
  font-size:1.2rem;
  font-family: mencken-std-head-compress,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2,h3,h4,h5,h6{
  font-family: mencken-std-head-compress,sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* SAVING FOR LATER ONCE CONNECTED 
font-family: mencken-std-head-compress,sans-serif;
font-weight: 700;
font-style: normal; */

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

